dataclasses-json==0.5.2
jinja2==3.0.2
matplotlib==3.5.2
opencv-python-headless==4.6.0.66
pandas==1.4.3
pre-commit==2.19.0
protobuf==3.20.1
pytorch-lightning>=1.6.0, <1.7
rpdb==0.1.6
setuptools==61.2.0
azureml-core==1.43.0
azureml-dataset-runtime[fuse]==1.43.0
azureml-tensorboard==1.43.0
azureml-train-core==1.43.0
conda-merge==0.1.5
msal-extensions==0.3.1
param==1.12
ruamel.yaml==0.16.12
tensorboard==2.6.0
-r requirements_run.txt
-r requirements_test.txt
-r requirements_build.txt
cloudpickle==1.6.0
importlib-metadata==4.2.0
markdown==2.6.8
