coloredlogs==15.0.1
cucim==22.10.00
girder-client==3.1.14
hi-ml
ipykernel==6.21.2
lightning-bolts==0.4.0
monai-weekly==1.2.dev2310
more-itertools==8.10.0
numpy==1.22.0
pillow==9.3.0
pydicom==2.3.0
scikit-image==0.19.3
scipy==1.7.3
seaborn==0.10.1
simpleitk==2.1.1.2
tifffile==2022.10.10
timm==0.6.12
torch==1.11
torchmetrics==0.10.2
umap-learn==0.5.2
yacs==0.1.8
