bump2version==1.0.1
coverage==6.3.2
flake8==5.0.2
ipykernel==6.15.0
ipython==7.34.0
mypy==0.931
papermill==2.3.4
pycobertura==2.0.1
pytest==6.2.2
pytest-cov==2.11.1
pytest-rerunfailures==10.2
pytest-timeout==2.0.1
setuptools==65.5.1
