[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[LOGGING]

# The type of string formatting that logging methods do. `old` means using %
# formatting, `new` is for `{}` formatting.
logging-format-style=new
