azure-core<2.0.0,>=1.23.0
azureml-core==1.42.0.post1
azureml-dataset-runtime[fuse]
azureml-train-core==1.42.0
azureml-tensorboard==1.42.0
conda-merge>=0.1.5
pandas>=1.3.4
param>=1.12
protobuf<=3.20.1
pysocks>=1.5.8
ruamel.yaml>=0.16.12
tensorboard>=2.6.0
