azure-ai-ml
azure-cli
azureml-core
azureml-dataset-runtime[fuse]
azureml-mlflow
azure-storage-blob
azureml-tensorboard
azureml-train-core
conda-merge
mlflow
pandas
param
protobuf
pysocks
ruamel.yaml>=0.16.12
tensorboard
typing-extensions
