[MASTER]

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
init-hook='import sys; sys.path.append("hi-ml-histopathology/src/")'

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
