name: HimlHisto
channels:
  - defaults
  - pytorch
  - conda-forge
dependencies:
  - cudatoolkit=11.3.1
  - pip=20.1.1
  - python=3.7.3
  - pytorch=1.10.0
  - python-blosc=1.7.0
  - torchvision=0.11.1
  - pip:
      # Run requirements for hi-ml
      - dataclasses-json==0.5.2
      - jinja2==3.0.2
      - matplotlib==3.4.3
      - opencv-python-headless==4.5.1.48
      - pandas==1.3.4
      - pre-commit==2.19.0
      - protobuf==3.20.1
      - pytorch-lightning==1.5.5
      - rpdb==0.1.6
      - setuptools==59.5.0
      # Run requirements for hi-ml-azure
      - azureml-sdk==1.36.0
      - azureml-tensorboard==1.36.0
      - conda-merge==0.1.5
      - param==1.12
      - pysocks==1.6.0
      - ruamel.yaml==0.16.12
      - tensorboard==2.6.0
      # Histopathology requirements
      - coloredlogs==15.0.1
      - cucim==22.04.00
      - girder-client==3.1.14
      - joblib==0.16.0
      - jupyter==1.0.0
      - jupyter-client==6.1.5
      - lightning-bolts==0.4.0
      - mlflow==1.17.0
      - monai==0.8.0
      - more-itertools==8.10.0
      - mypy==0.931
      - mypy-extensions==0.4.3
      - numba==0.51.2
      - numpy==1.19.1
      - pillow==9.0.0
      - psutil==5.7.2
      - pydicom==2.0.0
      - pyflakes==2.2.0
      - PyJWT==1.7.1
      - rich==5.1.1
      - runstats==1.8.0
      - scikit-image==0.17.2
      - scipy==1.5.2
      - seaborn==0.10.1
      - simpleitk==1.2.4
      - six==1.15.0
      - stopit==1.1.2
      - tabulate==0.8.7
      - tifffile==2021.11.2
      - torch==1.10.0
      - torchmetrics==0.6.0
      - torchvision==0.11.1
      - types-python-dateutil==2.8.9
      - umap-learn==0.5.2
      - yacs==0.1.8
      - fast-pytorch-kmeans==0.1.6
      # Test requirements
      - pytest==6.2.2
