dataclasses-json==0.5.2
hi-ml-azure>=0.1.8
jinja2==3.0.2
matplotlib>=3.4.3
opencv-python-headless>=4.5.1.48
pandas>=1.3.4
pillow==10.0.1
protobuf<4.0
pytorch-lightning>=1.6.0, <1.7
rpdb>=0.1.6
torchvision>=0.10.0
torch>=1.9.0, <2.0
