azureml-sdk==1.32.0
azureml-tensorboard==1.32.0
conda-merge==0.1.5
hi-ml-azure>=0.1.8
mypy==0.910
mypy-extensions==0.4.3
numba==0.51.2
numpy==1.19.1
pandas==1.1.0
pydicom==2.0.0
pytorch-lightning>=1.4.9
ruamel.yaml==0.16.12
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
simpleitk==1.2.4
tensorboard==2.6.0
torch>=1.8.0
