# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/deployment.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
