name: PR BuildAndTest.CI
on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

env:
  pythonVersion: 3.7

jobs:
  build-test-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f build_requirements.txt ]; then pip install -r build_requirements.txt; fi
          if [ -f test_requirements.txt ]; then pip install -r test_requirements.txt; fi

      - name: flake8
        run: flake8 . --count --exit-zero --statistics

      - name: mypy
        run: |
          mypy setup.py
          mypy -p src
          mypy -p tests

      - name: Test with pytest
        run: pytest --cov=src --cov-report=html tests

      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: htmlcov/*

      - name: Build Distribution
        run: python setup.py sdist bdist_wheel

      - name: Upload Distribution
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/*

  test-artifact-pkg:
    runs-on: ubuntu-latest
    needs: [build-test-python]
    strategy:
      matrix:
        packageName: [ '*.whl', '*.tar.gz' ]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Download Distribution
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: List contents of dist
        run: ls -al dist

      - name: Set env
        run: echo "wheel_filename=$(find dist -name ${{ matrix.packageName }})" >> $GITHUB_ENV

      - name: Test env
        run: echo $wheel_filename

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f test_requirements.txt ]; then pip install -r test_requirements.txt; fi

      - name: Install artifact
        run:
          pip install $wheel_filename

      - name: Test with pytest
        run: pytest tests

  publish-testpypi-pkg:
    runs-on: ubuntu-latest
    needs: [test-artifact-pkg]
    if: "!startsWith(github.ref, 'refs/tags')"
    steps:
      - name: Download Distribution
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.TEST_PIPY_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          verbose: true

  test-testpypi-pkg:
    runs-on: ubuntu-latest
    needs: [publish-testpypi-pkg]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f test_requirements.txt ]; then pip install -r test_requirements.txt; fi

      - name: Install test package
        run: pip install -i https://test.pypi.org/simple/ hi-ml
      - name: Test with pytest
        run: pytest tests

  publish-pypi-pkg:
    runs-on: ubuntu-latest
    needs: [test-testpypi-pkg]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    steps:
      - name: Download Distribution
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}

  test-pypi-pkg:
    runs-on: ubuntu-latest
    needs: [publish-pypi-pkg]
    if: "!startsWith(github.ref, 'refs/tags')"
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f test_requirements.txt ]; then pip install -r test_requirements.txt; fi

      - name: Install package
        run: pip install hi-ml
      - name: Test with pytest
        run: pytest tests
