name: PR BuildAndTest.CI
on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

env:
  pythonVersion: 3.7
  HIML_TENANT_ID: ${{ secrets.HIML_TENANT_ID }}
  HIML_SUBSCRIPTION_ID: ${{ secrets.HIML_SUBSCRIPTION_ID }}
  HIML_SERVICE_PRINCIPAL_ID: ${{ secrets.HIML_SERVICE_PRINCIPAL_ID }}
  HIML_SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.HIML_SERVICE_PRINCIPAL_PASSWORD }}

jobs:
  test_commit_comments:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Test script
        uses: actions/github-script@v4
        with:
          script: |
            const { promises: fs } = require('fs')

            if (context.eventName == 'pull_request') {
              sha = context.payload.pull_request.head.sha
            } else {
              sha = context.sha
            }

            console.log("Using sha: " + sha)

            const contents = await fs.readFile('./test_escaping.txt', 'utf8')

            const esc_contents = "```\n" + contents + "\n```"

            console.log(contents)

            await github.repos.createCommitComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              commit_sha: sha,
              body: "test script createCommitComment #2:\n\n" + esc_contents
            })

  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r run_requirements.txt
          pip install -r test_requirements.txt

      - name: flake8
        run: flake8 . --count --exit-zero --statistics

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r run_requirements.txt
          pip install -r test_requirements.txt

      - name: mypy
        run: |
          mypy setup.py
          cd src
          mypy --config-file ../mypy.ini --install-types --non-interactive -p health
          cd ..
          mypy --install-types --non-interactive -p testhiml

  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r run_requirements.txt
          pip install -r test_requirements.txt

      - name: Test with pytest, fast only
        run: pytest -m fast testhiml
        env:
          PYTHONPATH: ${{ github.workspace }}/src

  build-python:
    runs-on: ubuntu-latest
    needs: [test_commit_comments, flake8, mypy, pytest]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r build_requirements.txt

      - name: Build Distribution
        run: python setup.py sdist bdist_wheel

      - name: Archive TestPyPI version
        uses: actions/upload-artifact@v2
        with:
          name: latest_version
          path: latest_version.txt

      - name: Upload Distribution
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/*

  test-artifact-pkg:
    runs-on: ubuntu-latest
    needs: [build-python]
    strategy:
      matrix:
        packageName: [ '*.whl', '*.tar.gz' ]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Download Distribution
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: List contents of dist
        run: ls -al dist

      - name: Set env
        run: echo "wheel_filename=$(find dist -name ${{ matrix.packageName }})" >> $GITHUB_ENV

      - name: Test env
        run: echo $wheel_filename

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test_requirements.txt

      - name: Install artifact
        run:
          pip install $wheel_filename

      - name: Test with pytest, fast only
        run: pytest -m fast testhiml

  publish-testpypi-pkg:
    runs-on: ubuntu-latest
    needs: [test-artifact-pkg]
    if: "!startsWith(github.ref, 'refs/tags')"
    steps:
      - name: Download Distribution
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.TEST_PIPY_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          verbose: true

  test-testpypi-pkg:
    runs-on: ubuntu-latest
    needs: [publish-testpypi-pkg]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Download TestPyPI version artifact
        uses: actions/download-artifact@v2
        with:
          name: latest_version

      - name: Get TestPyPI version
        run: |
          latest_version=$(cat ./latest_version.txt)
          echo $latest_version
          echo "latest_version=$latest_version" >> $GITHUB_ENV

      - name: Install test package
        run: |
          python -m pip install --upgrade pip

          while ! pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple hi-ml==${{ env.latest_version }}
          do
            echo waiting for test.pypi
            sleep 10
          done

      - name: Install test dependencies
        run: |
          pip install -r test_requirements.txt

      - name: Test with pytest
        run: pytest --cov=src --cov-branch --cov-report=html --cov-report=term --cov-report=xml testhiml

      - name: Format coverage summary
        id: get-comment-body
        run: |
          pycobertura show --format text --output coverage.txt coverage.xml
          body=$(cat coverage.txt)
          body=$'```\n'${body}$'\n```'
          body="${body//'%'/'%25'}"
          body="${body//' '/\u2002}"
          body="${body//$'\n'/'%0A'}"
          body="${body//$'\r'/'%0D'}"
          echo ::set-output name=body::$body

      - name: Add coverage as a comment
        uses: peter-evans/commit-comment@v1
        with:
          body: ${{ steps.get-comment-body.outputs.body }}

      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: htmlcov/*

  publish-pypi-pkg:
    runs-on: ubuntu-latest
    needs: [test-artifact-pkg]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    steps:
      - name: Download Distribution
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}

  test-pypi-pkg:
    runs-on: ubuntu-latest
    needs: [publish-pypi-pkg]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Download PyPI version artifact
        uses: actions/download-artifact@v2
        with:
          name: latest_version

      - name: Get PyPI version
        run: |
          latest_version=$(cat ./latest_version.txt)
          echo $latest_version
          echo "latest_version=$latest_version" >> $GITHUB_ENV

      - name: Install package
        run: |
          python -m pip install --upgrade pip

          while ! pip install hi-ml==${{ env.latest_version }}
          do
            echo waiting for pypi
            sleep 10
          done

      - name: Install test dependencies
        run: |
          pip install -r test_requirements.txt

      - name: Test with pytest, fast only
        run: pytest -m fast testhiml
