name: PR BuildAndTest.CI
on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

env:
  pythonVersion: 3.7
  HIML_TENANT_ID: ${{ secrets.HIML_TENANT_ID }}
  HIML_RESOURCE_GROUP: ${{ secrets.HIML_RESOURCE_GROUP }}
  HIML_SUBSCRIPTION_ID: ${{ secrets.HIML_SUBSCRIPTION_ID }}
  HIML_WORKSPACE_NAME: ${{ secrets.HIML_WORKSPACE_NAME }}
  HIML_SERVICE_PRINCIPAL_ID: ${{ secrets.HIML_SERVICE_PRINCIPAL_ID }}
  HIML_SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.HIML_SERVICE_PRINCIPAL_PASSWORD }}
  HIML_DIST_ARTIFACT_SUFFIX: '-dist'
  HIML_PACKAGE_NAME_ARTIFACT_SUFFIX: '-package_name'
  HIML_VERSION_ARTIFACT_SUFFIX: '-latest_version'
  HIML_COV_DOT_ARTIFACT_SUFFIX: '-code_coverage_report_dot'
  HIML_COV_HTML_ARTIFACT_SUFFIX: '-code_coverage_report_html'
  HIML_COV_TXT_ARTIFACT_SUFFIX: '-code_coverage_txt'
  HIML_COV_XML_ARTIFACT_SUFFIX: '-code_coverage_xml'

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: flake8
        run: make flake8

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: mypy
        run: make mypy

  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: himl
          auto-activate-base: false
          environment-file: environment.yml
      - name: pyright
        shell: bash -l {0}
        run: make pyright

  pytest_fast:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [ hi-ml, hi-ml-azure ]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Install dependencies
        if: ${{ matrix.folder != 'hi-ml-azure' }}
        run: |
          cd hi-ml-azure

          # Install local package in editable mode
          make pip_local

      - name: Test with pytest, fast only
        run: |
          cd ${{ matrix.folder }}

          # Install local package in editable mode
          make pip_local

          # Run fast tests
          make pytest_fast

  build-python:
    runs-on: ubuntu-latest
    needs: [ pytest_fast ]
    strategy:
      matrix:
        folder: [ hi-ml, hi-ml-azure ]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Build Distribution
        run: |
          cd ${{ matrix.folder }}
          make build

      - name: Upload package artifacts
        uses: ./.github/actions/upload_package_artifacts
        with:
          folder: ${{ matrix.folder }}

  test-artifact-pkg:
    runs-on: ubuntu-latest
    needs: [ build-python ]
    strategy:
      matrix:
        folder: [ hi-ml, hi-ml-azure ]
        packageName: [ '*.whl', '*.tar.gz' ]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Download dependent package artifacts
        id: download_dep
        if: ${{ matrix.folder != 'hi-ml-azure' }}
        uses: ./.github/actions/download_package_artifacts
        with:
          folder: hi-ml-azure
          package_type: ${{ matrix.packageName }}

      - name: Install dependencies
        if: ${{ matrix.folder != 'hi-ml-azure' }}
        run: |
          cd hi-ml-azure

          make pip_upgrade

          # Install package
          pip install ${{ steps.download_dep.outputs.package_filename }}

      - name: Download package artifacts
        id: download
        uses: ./.github/actions/download_package_artifacts
        with:
          folder: ${{ matrix.folder }}
          package_type: ${{ matrix.packageName }}

      - name: Install artifact and test
        run: |
          cd ${{ matrix.folder }}

          make pip_upgrade

          # Install package
          pip install ${{ steps.download.outputs.package_filename }}

          if [ ${{ matrix.packageName }} = '*.whl' ]; then
            # Set env vars so wheel is sent to azureml as a private package
            echo "HIML_AZURE_WHEEL_FILENAME=${{ steps.download.outputs.package_filename }}" >> $GITHUB_ENV

            # Test with pytest
            make pytest_and_coverage
          else
            # Test with pytest, fast only
            make pytest_fast
          fi

      - name: Upload coverage artifacts
        uses: ./.github/actions/upload_coverage_artifacts
        if: ${{ matrix.packageName == '*.whl' }}
        with:
          folder: ${{ matrix.folder }}

  build-coverage:
    runs-on: ubuntu-latest
    needs: [ test-artifact-pkg ]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Download dependent package artifacts
        id: download_dep
        uses: ./.github/actions/download_package_artifacts
        with:
          folder: hi-ml-azure

      - name: Install dependencies
        run: |
          cd hi-ml-azure

          make pip_upgrade

          # Install package
          pip install ${{ steps.download_dep.outputs.package_filename }}

      - name: Download package artifacts
        id: download
        uses: ./.github/actions/download_package_artifacts
        with:
          folder: hi-ml

      - name: Install artifact and test
        run: |
          cd hi-ml

          make pip_upgrade

          # Install package
          pip install ${{ steps.download.outputs.package_filename }}

      - name: Download coverage artifacts
        uses: ./.github/actions/download_coverage_artifacts
        with:
          folder: hi-ml

      - name: Download coverage artifacts
        uses: ./.github/actions/download_coverage_artifacts
        with:
          folder: hi-ml-azure

      - name: Combine coverage artifacts
        run: make combine

      - name: Upload combined coverage artifacts
        uses: ./.github/actions/upload_coverage_artifacts
        with:
          folder: coverage

      - name: Add coverage as a commit comment
        uses: ./.github/actions/format_coverage
        with:
          file: coverage/coverage.txt
          token: ${{ secrets.GITHUB_TOKEN }}

  publish-testpypi-pkg:
    runs-on: ubuntu-latest
    needs: [ test-artifact-pkg ]
    if: "!startsWith(github.ref, 'refs/tags/v')"
    strategy:
      matrix:
        folder: [ hi-ml, hi-ml-azure ]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Download package artifacts
        id: download
        uses: ./.github/actions/download_package_artifacts
        with:
          folder: ${{ matrix.folder }}

      - name: Set envs
        run: |
          if [ ${{ matrix.folder }} = 'hi-ml' ]; then
            echo "TESTPYPI_TOKEN=${{ secrets.TEST_PIPY_TOKEN }}" >> $GITHUB_ENV
          elif [ ${{ matrix.folder }} = 'hi-ml-azure' ]; then
            echo "TESTPYPI_TOKEN=${{ secrets.PYPI_TEST_AZURE_TOKEN }}" >> $GITHUB_ENV
          fi

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ env.TESTPYPI_TOKEN }}
          packages_dir: ${{ matrix.folder }}/dist/
          repository_url: https://test.pypi.org/legacy/
          verbose: true

      - name: Show published TestPyPI package version
        run: |
          echo "Install this package version via:"
          echo "pip install --extra-""index-url https://test.pypi.org/simple ${{ steps.download.outputs.package_version }}"

  publish-pypi-pkg:
    runs-on: ubuntu-latest
    needs: [ test-artifact-pkg ]
    strategy:
      matrix:
        folder: [ hi-ml, hi-ml-azure ]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Download package artifacts
        id: download
        uses: ./.github/actions/download_package_artifacts
        with:
          folder: ${{ matrix.folder }}

      - name: Set envs
        run: |
          if [ ${{ matrix.folder }} = 'hi-ml' ]; then
            echo "PYPI_TOKEN=${{ secrets.PYPI_TOKEN }}" >> $GITHUB_ENV
          elif [ ${{ matrix.folder }} = 'hi-ml-azure' ]; then
            echo "PYPI_TOKEN=${{ secrets.PYPI_AZURE_TOKEN }}" >> $GITHUB_ENV
          fi

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ env.PYPI_TOKEN }}
          packages_dir: ${{ matrix.folder }}/dist/

  test-pypi-pkg:
    runs-on: ubuntu-latest
    needs: [ publish-pypi-pkg ]
    strategy:
      matrix:
        folder: [ hi-ml, hi-ml-azure ]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ env.pythonVersion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.pythonVersion }}

      - name: Download package artifacts
        id: download
        uses: ./.github/actions/download_package_artifacts
        with:
          folder: ${{ matrix.folder }}

      - name: Install dependencies
        if: ${{ matrix.folder != 'hi-ml-azure' }}
        run: |
          cd hi-ml-azure

          # Install local package in editable mode
          make pip_local

      - name: Install PyPI package and test
        run: |
          cd ${{ matrix.folder }}

          make pip_upgrade

          while ! pip install ${{ steps.download.outputs.package_version }}
          do
            echo waiting for pypi
            sleep 10
          done

          # Test with pytest, fast only
          make pytest_fast
