# This is a 'shadow' pipeline designed purely to allow status checks to be run on PRs that use path filtering
name: Pathology PR Shadow
on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - "hi-ml-cpath/**"
      - ".github/workflows/cpath-pr.yml"
      # When the core hi-ml libraries change, test the histo test too, to find problems with backwards compatibility
      - "hi-ml-azure/**"
      - "hi-ml/**"

jobs:
  cpath-pr:
    runs-on: ubuntu-20.04
    steps:
      - name: Final PR Job
        run: |
          echo "Running cpath shadow PR job"
