name: Pathology PR
on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - "hi-ml-cpath/**"
      - ".github/workflows/cpath-pr.yml"
      # When the core hi-ml libraries change, test the histo test too, to find problems with backwards compatibility
      - "hi-ml-azure/**"
      - "hi-ml/**"

jobs:

  flake8:
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No build required" '

  mypy:
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No build required" '

  pytest:
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No build required" '

  smoke_test_slidespandaimagenetmil:
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No build required" '

  smoke_test_tilespandaimagenetmil:
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No build required" '

  smoke_test_tcgacrcksslmil_aml:
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No build required" '

  smoke_test_crck_simclr_aml:
    runs-on: ubuntu-20.04
    steps:
      - run: 'echo "No build required" '

  publish:
    runs-on: ubuntu-20.04
    needs: [
      flake8,
      mypy,
      pytest,
      smoke_test_slidespandaimagenetmil,
      smoke_test_tilespandaimagenetmil,
      smoke_test_crck_simclr_aml
      ]
    steps:
      - run: 'echo "No build required" '
